<li>
<div class='single-tweet'>
  <span class='pic'> <a href='/user/<%= tweet.author.id %>'><img class='profile-pic-thumb' src='<%= tweet.author.pic_url %>'>@<%= tweet.author.user_name %></a></span>
  <span class='elapsed-time'>
  <% if logged_in? %>
  <!-- delete button -->
    <% if tweet.author.id == current_user.id %>
      <form action='/tweet/<%= tweet.id %>' method='POST'>
        <input type='hidden' name='_method' value='DELETE'>
        <button class='delete-button' type='submit'>x</button>
      </form>
    <% end %>
    <!-- like button -->
    <form class='like-form' action='/tweet/<%= tweet.id %>/like' method='POST'>
      <input type='hidden' name='like[user_id]' value='<%= current_user.id %>'>
      <input type='hidden' name='like[tweet_id]' value='<%= tweet.id %>'>
      <input class='like-button' type='submit' value='<%= current_user.likes_this_tweet(tweet) ? "dislike" : "like" %>'></input>
    </form>
  <% end %>
  <%= tweet.display_elapsed_time %></span><br>
  <%= tweet.content %><br>
  <p class='like-count'><%= tweet.likes.count %> Likes</p>
</div>
</li>
