<a href='/user/<%= tweet.author.id %>'><%= tweet.author.user_name %></a><br>
<%= tweet.elapsed_time %><br>
<%= tweet.content %><br>
<% if logged_in? && tweet.author.id == current_user.id %>
<form action='/tweets/<%= tweet.id %>' method='POST'>
  <input type='hidden' name='_method' value='DELETE'>
  <input type='submit' value='delete'>
</form>
<% end %>
