<div id='mini-profile-wrapper'>
  <% if logged_in? %>
      <a href='/user/<%= user.id %>'><img class='profile-pic' src='<%= user.pic_url %>'></a>
      <div id='mini-profile-details'>
        <a href='/user/<%= user.id %>'>@<%= user.user_name %></a><br>
        <%= user.blurb %><br><br>
        Tweets: <span id='tweet-count'><%= user.tweets.count %></span><br>
        <a href='/user/<%= user.id %>/follows'>Follows: <%= user.follows.count %></a><br>
        <a href='/user/<%= user.id %>/followers'>Followers: <%= user.followees.count %></a><br>
      </div>
  <% else %>
  <% end %>
</div>
