Username: <%= @user.user_name %><br>
<% if @user.id == current_user.id %>
  Pic URL (external image):
  <form action='/user/<%= @user.id %>' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
    <input type='text' name='user[pic_url]' placeholder='paste external link'>
    <input type='submit' value='edit pic'>
  </form><br>
  Blurb:
  <form action='/user/<%= @user.id %>' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
    <input type='text' name='user[blurb]' value='<%= @user.blurb %>'>
    <input type='submit' value='edit blurb'>
  </form><br>
  City:
  <form action='/user/<%= @user.id %>' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
    <input type='text' name='user[city]' value='<%= @user.city %>'>
    <input type='submit' value='edit city'>
  </form><br>
<% else %>
  Blurb: <%= @user.blurb %><br>
  City: <%= @user.city %><br>
<% end %>
Member since: <%= date_created(@user) %><br>
Profile Picture (enter URL to edit): <input type='text'></input><br>
Tweet Count: <%= @user.tweets.count %><br>

<ul id='tweet-list'>
  <% @user.tweets.each do |tweet| %>
    <%= erb :'tweet/single', locals: {tweet: tweet} %>
  <% end %>
</ul>
